<a href="https://colab.research.google.com/github/ABHISHEKSHANA10/abhishek_info5731_spring2021/blob/main/In_class_exercise/In_class_exercise4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [3]:
from six.moves import urllib
import pandas as pd

text = []
url = "https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt"
data = urllib.request.urlopen(url)

for line in data:
  cleandata = line.decode("utf-8").replace('\r\n', '')
  if cleandata: text.append(cleandata)
df = pd.DataFrame (text, columns = ['content'])
print(df)

                                               content
0                                           5 Ala. 740
1                            Supreme Court of Alabama.
2                                                ADAMS
3                                                   v.
4                                   TANNER AND HORTON.
..                                                 ...
143            There are no Filings for this citation.
144                                 Negative Treatment
145  There are no Negative Treatment results for th...
146                                            History
147    There are no History results for this citation.

[148 rows x 1 columns]

In [4]:
#No.of sentences
df['Number of Sentences'] = df['content'].apply(lambda x: len(str(x).split(".")))
df

                                               content  Number of Sentences
0                                           5 Ala. 740                    2
1                            Supreme Court of Alabama.                    2
2                                                ADAMS                    1
3                                                   v.                    2
4                                   TANNER AND HORTON.                    2
..                                                 ...                  ...
143            There are no Filings for this citation.                    2
144                                 Negative Treatment                    1
145  There are no Negative Treatment results for th...                    2
146                                            History                    1
147    There are no History results for this citation.                    2

[148 rows x 2 columns]

In [5]:
#No.of words
df['word count'] = df['content'].apply(lambda x: len(str(x).split(" ")))
df

                                               content  ...  word count
0                                           5 Ala. 740  ...           3
1                            Supreme Court of Alabama.  ...           4
2                                                ADAMS  ...           1
3                                                   v.  ...           1
4                                   TANNER AND HORTON.  ...           3
..                                                 ...  ...         ...
143            There are no Filings for this citation.  ...           7
144                                 Negative Treatment  ...           2
145  There are no Negative Treatment results for th...  ...           9
146                                            History  ...           1
147    There are no History results for this citation.  ...           8

[148 rows x 3 columns]

In [6]:
#No.of characters
df['Characters_count'] = df['content'].str.len()
df

                                               content  ...  Characters_count
0                                           5 Ala. 740  ...                10
1                            Supreme Court of Alabama.  ...                25
2                                                ADAMS  ...                 5
3                                                   v.  ...                 2
4                                   TANNER AND HORTON.  ...                18
..                                                 ...  ...               ...
143            There are no Filings for this citation.  ...                39
144                                 Negative Treatment  ...                18
145  There are no Negative Treatment results for th...  ...                58
146                                            History  ...                 7
147    There are no History results for this citation.  ...                47

[148 rows x 4 columns]

In [7]:
#Average word length
def avg(sent):
  words = sent.split()
  if len(words) != 0:
    return(sum(len(value) for value in words)/len(words))
  else:
    return None

df['Average Length of words'] = df['content'].apply(lambda x: avg(x))
df

                                               content  ...  Average Length of words
0                                           5 Ala. 740  ...                 2.666667
1                            Supreme Court of Alabama.  ...                 5.500000
2                                                ADAMS  ...                 5.000000
3                                                   v.  ...                 2.000000
4                                   TANNER AND HORTON.  ...                 5.333333
..                                                 ...  ...                      ...
143            There are no Filings for this citation.  ...                 4.714286
144                                 Negative Treatment  ...                 8.500000
145  There are no Negative Treatment results for th...  ...                 5.555556
146                                            History  ...                 7.000000
147    There are no History results for this citation.  ...                 5.000000

[148 rows x 5 columns]

In [8]:
#No.of stopwords
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

df['Stopwords count'] = df['content'].apply(lambda x: len([x for x in x.split() if x in stop]))
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                               content  ...  Stopwords count
0                                           5 Ala. 740  ...                0
1                            Supreme Court of Alabama.  ...                1
2                                                ADAMS  ...                0
3                                                   v.  ...                0
4                                   TANNER AND HORTON.  ...                0
..                                                 ...  ...              ...
143            There are no Filings for this citation.  ...                4
144                                 Negative Treatment  ...                0
145  There are no Negative Treatment results for th...  ...                4
146                                            History  ...                0
147    There are no History results for this citation.  ...                4

[148 rows x 6 columns]

In [9]:
#no. of special chars
def special_characters_count(sent):
  special_count = 0
  for i in range(len(sent)):
    if not((sent[i].isalpha()) and (sent[i].isdigit())):
        special_count = special_count + 1
  return special_count

df['No.of special characters'] = df['content'].apply(lambda x: special_characters_count(x))
df

                                               content  ...  No.of special characters
0                                           5 Ala. 740  ...                        10
1                            Supreme Court of Alabama.  ...                        25
2                                                ADAMS  ...                         5
3                                                   v.  ...                         2
4                                   TANNER AND HORTON.  ...                        18
..                                                 ...  ...                       ...
143            There are no Filings for this citation.  ...                        39
144                                 Negative Treatment  ...                        18
145  There are no Negative Treatment results for th...  ...                        58
146                                            History  ...                         7
147    There are no History results for this citation.  ...                        47

[148 rows x 7 columns]

In [10]:
#No.of numerics
df['No.of numerics'] = df['content'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df

                                               content  ...  No.of numerics
0                                           5 Ala. 740  ...               2
1                            Supreme Court of Alabama.  ...               0
2                                                ADAMS  ...               0
3                                                   v.  ...               0
4                                   TANNER AND HORTON.  ...               0
..                                                 ...  ...             ...
143            There are no Filings for this citation.  ...               0
144                                 Negative Treatment  ...               0
145  There are no Negative Treatment results for th...  ...               0
146                                            History  ...               0
147    There are no History results for this citation.  ...               0

[148 rows x 8 columns]

In [11]:
df['upper case words count'] = df['content'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
df

                                               content  ...  upper case words count
0                                           5 Ala. 740  ...                       0
1                            Supreme Court of Alabama.  ...                       0
2                                                ADAMS  ...                       1
3                                                   v.  ...                       0
4                                   TANNER AND HORTON.  ...                       3
..                                                 ...  ...                     ...
143            There are no Filings for this citation.  ...                       0
144                                 Negative Treatment  ...                       0
145  There are no Negative Treatment results for th...  ...                       0
146                                            History  ...                       0
147    There are no History results for this citation.  ...                       0

[148 rows x 9 columns]

In [12]:
#1.2
#Lower casing
df['Lower Casing'] = df['content'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df

                                               content  ...                                       Lower Casing
0                                           5 Ala. 740  ...                                         5 ala. 740
1                            Supreme Court of Alabama.  ...                          supreme court of alabama.
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                 v.
4                                   TANNER AND HORTON.  ...                                 tanner and horton.
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...            there are no filings for this citation.
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...    there are no history results for this citation.

[148 rows x 10 columns]

In [13]:
#punctuation removal
df['Punctuation removal'] = df['Lower Casing'].str.replace('[^\w\s]','')
df

                                               content  ...                                Punctuation removal
0                                           5 Ala. 740  ...                                          5 ala 740
1                            Supreme Court of Alabama.  ...                           supreme court of alabama
2                                                ADAMS  ...                                              adams
3                                                   v.  ...                                                  v
4                                   TANNER AND HORTON.  ...                                  tanner and horton
..                                                 ...  ...                                                ...
143            There are no Filings for this citation.  ...             there are no filings for this citation
144                                 Negative Treatment  ...                                 negative treatment
145  There are no Negative Treatment results for th...  ...  there are no negative treatment results for th...
146                                            History  ...                                            history
147    There are no History results for this citation.  ...     there are no history results for this citation

[148 rows x 11 columns]

In [14]:
#removal of stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['Removal of stopwords'] = df['Punctuation removal'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df

                                               content  ...                 Removal of stopwords
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                supreme court alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...                                    v
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 12 columns]

In [15]:
#removal of frequent words
frequent_words = pd.Series(' '.join(df['Removal of stopwords']).split()).value_counts()[:10]
print(frequent_words)
frequent_words_list = list(frequent_words.index)
df['frequent words removal'] = df['Removal of stopwords'].apply(lambda x: " ".join(x for x in x.split() if x not in frequent_words_list))
df

execution    50
crop         49
lien         25
levy         25
v            22
claimants    22
right        21
case         21
court        20
gathered     19
dtype: int64

                                               content  ...               frequent words removal
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 13 columns]

In [16]:
#removal of rare words
rarewords = pd.Series(' '.join(df['Removal of stopwords']).split()).value_counts()[-10:]
print(rarewords)
rarewords = list(rarewords.index)
df['Rare Words removal'] = df['frequent words removal'].apply(lambda x: " ".join(x for x in x.split() if x not in rarewords))
df

dec               1
singular          1
maintain          1
perhaps           1
defendantcited    1
therefore         1
november          1
temporary         1
inhibits          1
elliott           1
dtype: int64

                                               content  ...                   Rare Words removal
0                                           5 Ala. 740  ...                            5 ala 740
1                            Supreme Court of Alabama.  ...                      supreme alabama
2                                                ADAMS  ...                                adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                        tanner horton
..                                                 ...  ...                                  ...
143            There are no Filings for this citation.  ...                     filings citation
144                                 Negative Treatment  ...                   negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results citation
146                                            History  ...                              history
147    There are no History results for this citation.  ...             history results citation

[148 rows x 14 columns]

In [17]:
#spelling correction
from textblob import TextBlob
df['Correction of spelling'] = df['Rare Words removal'].apply(lambda x: str(TextBlob(x).correct()))
df

                                               content  ...                Correction of spelling
0                                           5 Ala. 740  ...                             5 all 740
1                            Supreme Court of Alabama.  ...                       supreme alabama
2                                                ADAMS  ...                                 adams
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                         manner norton
..                                                 ...  ...                                   ...
143            There are no Filings for this citation.  ...                      filing situation
144                                 Negative Treatment  ...                    negative treatment
145  There are no Negative Treatment results for th...  ...  negative treatment results situation
146                                            History  ...                               history
147    There are no History results for this citation.  ...             history results situation

[148 rows x 15 columns]

In [18]:
import nltk
nltk.download('punkt')
df['Tokenization'] = df['Correction of spelling'].apply(lambda x: TextBlob(x).words)
df

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

                                               content  ...                               Tokenization
0                                           5 Ala. 740  ...                              [5, all, 740]
1                            Supreme Court of Alabama.  ...                         [supreme, alabama]
2                                                ADAMS  ...                                    [adams]
3                                                   v.  ...                                         []
4                                   TANNER AND HORTON.  ...                           [manner, norton]
..                                                 ...  ...                                        ...
143            There are no Filings for this citation.  ...                        [filing, situation]
144                                 Negative Treatment  ...                      [negative, treatment]
145  There are no Negative Treatment results for th...  ...  [negative, treatment, results, situation]
146                                            History  ...                                  [history]
147    There are no History results for this citation.  ...              [history, results, situation]

[148 rows x 16 columns]

In [19]:
#stemming
from nltk.stem import PorterStemmer
port = PorterStemmer()
df['Stemming'] = df['Tokenization'].apply(lambda x: " ".join([port.stem(word) for word in x]))
df

                                               content  ...                     Stemming
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 17 columns]

In [20]:
#lemmatization
from textblob import Word
import nltk
nltk.download('wordnet')
df['Lemmatization'] = df['Stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
df

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

                                               content  ...                Lemmatization
0                                           5 Ala. 740  ...                    5 all 740
1                            Supreme Court of Alabama.  ...               suprem alabama
2                                                ADAMS  ...                         adam
3                                                   v.  ...
4                                   TANNER AND HORTON.  ...                manner norton
..                                                 ...  ...                          ...
143            There are no Filings for this citation.  ...                  file situat
144                                 Negative Treatment  ...                neg treatment
145  There are no Negative Treatment results for th...  ...  neg treatment result situat
146                                            History  ...                      histori
147    There are no History results for this citation.  ...        histori result situat

[148 rows x 18 columns]

In [21]:
#1.3 saving to csv file
df.to_csv('final_data.csv',index=False)

In [22]:
#1.4
term_freq = (df['Lemmatization']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
term_freq.columns = ['words','term_frequency']
term_freq

       words  term_frequency
0          5             8.0
1        all            17.0
2        740             2.0
3     suprem             1.0
4    alabama             1.0
..       ...             ...
700   render             1.0
701    yield             1.0
702     file             2.0
703      neg             2.0
704  histori             2.0

[705 rows x 2 columns]

In [23]:
import itertools
import collections
from nltk import ngrams
terms = []
for i in df['Lemmatization']:
  terms.append(nltk.tokenize.word_tokenize(i))
text = [i for i in terms if i != []]
value = list(itertools.chain.from_iterable(text))
gram = ngrams(value, 1)
print("1 grams")
print(collections.Counter(gram).most_common(10))
print("Bi grams")
freq = nltk.FreqDist(nltk.bigrams(value))
print(freq.most_common(10))
print("Tri grams")
freq = nltk.FreqDist(nltk.trigrams(value))
print(freq.most_common(10))

1 grams
[(('law',), 18), (('all',), 17), (('grow',), 17), (('contract',), 16), (('rep',), 16), (('plaintiff',), 15), (('posse',), 14), (('attach',), 14), (('cotton',), 14), (('2',), 13)]
Bi grams
[(('common', 'law'), 7), (('john', 'rep'), 6), (('tri', 'hon'), 6), (('fieri', 'facial'), 5), (('while', 'foot'), 4), (('can', 'not'), 4), (('appeal', 'circuit'), 4), (('error', 'circuit'), 3), (('attach', 'favor'), 3), (('allen', 'harrison'), 3)]
Tri grams
[(('2', 'john', 'rep'), 3), (('all', 'grover', 'convers'), 3), (('5', 'all', '740'), 2), (('writ', 'error', 'circuit'), 2), (('interest', 'vest', 'posse'), 2), (('vest', 'posse', 'either'), 2), (('posse', 'either', 'immedi'), 2), (('either', 'immedi', 'futur'), 2), (('immedi', 'futur', 'time'), 2), (('case', 'cite', 'headnot'), 2)]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [24]:
import re
ip =  "260.08.094.109"
leading_zeroes_rem = ".".join([str(int(a)) for a in ip.split(".")])   
print(leading_zeroes_rem)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [25]:
sent = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
extract_years = re.findall(r'2\d\d\d', sent)
print(extract_years)

['2010', '2010', '2019']